// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #ffffff;
$white: #ffffff;

// Main colours
$red: #9c3c24;
$serenade: #fae6d5;
$dark-blue: #283645;
$mid-gray: #8f8f8f;
$light-grey-2: #f0efef;
$warm-orange: #fae9da;

// Other colours
$black: #100f0f;
$light-blue: #009de4;
$green: #658641;
$dark-brown: #4c3129;
$mid-brown: #4d403b;
$magenta: #754f4a; 
$light-magenta: #8f5e56;
$warm-grey: #beb2b0;
$green-white: #e8e7d9;

