h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    color: #0E0000;
}

h2 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #0E0000;
}

h3 {
    font-family: Montserrat;
    font-size: 20px;
    color: #0E0000;
}

h4 {
    font-family: Montserrat;
    font-size: 16px;
    color: #0E0000;
}

h5 {
    font-family: Montserrat;
    font-size: 12px;
    color: #0E0000;
}


p {
    font-family: Montserrat;
    font-size: 12px;
    color: #0E0000;
}

a {
    font-family: Montserrat;
    font-size: 16px;
    color: #0E0000;
    text-decoration: none;
}

.container {
    h1 {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        color: #0E0000;
    }
    
    h2 {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        color: #0E0000;
    }
    
    h3 {
        font-family: Montserrat;
        font-size: 20px;
        color: #0E0000;
    }
    
    h4 {
        font-family: Montserrat;
        font-size: 16px;
        color: #0E0000;
    }
    
    h5 {
        font-family: Montserrat;
        font-size: 12px;
        color: #0E0000;
    }
    
    
    p {
        font-family: Montserrat;
        font-size: 12px;
        color: #0E0000;
    }
    
    a {
        font-family: Montserrat;
        font-size: 16px;
        color: #0E0000;
        text-decoration: none;
    }

    a:hover {
        font-family: Montserrat;
        font-size: 16px;
        color: #0E0000;
        text-decoration: none;
    }
}