.bloom-breadcrumb {
    display: flex;

    h1, h2, h3, h4, h5, p, a {
        color: $white;
    }
}
    
.bloom-breadcrumb-item {
    display:block;
    // margin:5px;

    .active {
        color: red;
    }

}
