//heading stuff //

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, .333fr));
    grid-gap: 16px;
}

.ingredient-show-flex {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.ingredient-show-details {
    text-align: justify;
    padding-right: 100px;
}

.light-grey-container {
    width: 100vw;
    padding-bottom: 40px;
    background-color: $light-grey-2;
    padding-top: 20px;
    padding-bottom: 50px;
}

.ingredient-show-img {
    width: 200px;
    height: 200px;
}

.ingredient-ratings-container {
    align-items: left;
}

.ratings-consensus-flex {
    display: flex;
}

.ingredient-evaluations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
}

.ingredient-review-card {
  background-color: $white;
  box-shadow: 0 0 2px 2px #dbdad7;
  margin: 5px;
  min-height: 300px;
  max-height: 300px;
  width: 530px;
}

.ingredient-review-header {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.test {
    align-items: center;
}

.ingredient-review-body {
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.ingredient-reviewer-name {
    text-align: left;
}

.ingredient-review-ratings {
    display: flex;
    justify-content: space-around;
    background-color: $serenade;
    position: absolute;
    bottom: 0;
    width: 530px;
    margin-bottom: 5px;
    padding: 5px 0;
}

.card-rating-container-show-flex {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
}

// Here are all the components for the 'things that contain ingredient section

.dark-blue-container {
  width: 100vw;
  background-color: $dark-blue;
  padding-top: 20px;
  padding-bottom: 30px;

  h3 {
      color: $black;
  }
}

.product-alternative-flex {
    display: flex;
    justify-content: space-between;
}

.product-details {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #beb2b0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#white-me {
    color: $white;
}

.text-truncate {
   display: inline-block;
   max-width: 480px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   overflow: scroll;
}
//// Carousel ///


