//heading stuff //

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, .333fr));
    grid-gap: 16px;
}

.ingredient-show-flex {
    display: flex;
    justify-content: space-between;
}

.ingredient-show-details {
    text-align: left;
    padding-right: 20px;
}

.light-grey-container {
    width: 100vw;
    padding-bottom: 40px;
    background-color: $light-grey-2;
    padding-top: 20px;
    padding-bottom: 50px;
}

.ingredient-show-img {
    width: 200px;
    height: 200px;
}

.ingredient-reviews-header {
    display: flex;
    justify-content: space-between;
}

.ingredient-ratings-container {
    align-items: left;
}

.ratings-consensus-flex {
    display: flex;
}

.ingredient-evaluations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
}

.ingredient-review-card {
  background-color: $white;
  box-shadow: 0 0 2px 2px #dbdad7;
  margin: 5px;
}

.ingredient-review-header {
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.ingredient-review-body {
    margin-left: 25px;
    text-align: left;
}

.ingredient-reviewer-name {
    text-align: left;
}

.ingredient-review-ratings {
    display: flex;
    justify-content: space-evenly;
    background-color: $serenade;
}

.card-rating-container-show-flex {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
}

// Here are all the components for the 'things that contain ingredient section

.dark-blue-container {
  width: 100vw;
  background-color: $dark-blue;
  padding-top: 20px;
  padding-bottom: 30px;

  h3 {
      color: $black;
  }
}

.resources-container {
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    text-align: left;
    padding-bottom: 50px;
    font-weight: 500;
    padding-left: 22px;

  }
}


.product-alternative-flex {
    display: flex;
    justify-content: space-between;
}

.product-details {
    background-color: white;
    border-radius: 5px;
}

#white-me {
    color: $white;
}

//// Carousel ///


