.product-rating-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.product-bio {
    text-align: left;
    position: relative;

    img {
        padding-left: 20px;
    }

    .heart-solid {
        font-size: 30px;
        transition-duration: 0.5s;
        position: absolute;
        right: 0;
        top: 0;
        color: $red;
    }

    .heart-empty {
        font-size: 30px;
        transition-duration: 0.5s;
        position: absolute;
        right: 0;
        top: 0;
        color: $mid-gray;
    }
    
    .heart-empty:hover {
        color: $red;
        
    }
}

.ratings-flex {
    display: flex;
    justify-content: space-evenly;
}

.salmon-container {
    background-color: $serenade;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-aligned-left {
    text-align: left;
}

.product-review-card {
    display: flex;
}

.product-ratings-right {

}

.product-review-header {
    display: flex;
    align-items: baseline;
}

.reviews-and-ratings {
    display: flex;
}

.product-show-rating-container {
    display: flex;
    align-items: center;
}

.h3-box {
    text-align: left;
    padding-left: 15px;
}

.favorite-button {
    margin-bottom: 20px;
}

.colorstrip{
    width: 90px; height: 2px;
    border-style: solid;
    border-color: $red;
    background-color: $red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colorstrip-small {
    background-color: #9c3c24;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
}

.colorstrip-white{
    width: 90px; height: 2px;
    border-style: solid;
    border-color: $white;
    background-color: $white;
    margin-top: 10px;
    margin-bottom: 10px;
}
