.product-rating-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.product-bio {
    text-align: left;

    img {
        padding-left: 20px;
    }
}

.ratings-flex {
    display: flex;
    justify-content: space-evenly;
}

.salmon-container {
    background-color: $serenade;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-aligned-left {
    text-align: left;
}

.product-review-card {
    display: flex;
}

.product-ratings-right {

}

.product-review-header {
    display: flex;
    align-items: baseline;
}

.reviews-and-ratings {
    display: flex;
}

.product-show-rating-container {
    display: flex;
    align-items: center;
}

.h3-box {
    text-align: left;
    padding-left: 15px;
}

.favorite-button {
    margin-bottom: 20px;
}

.colorstrip{
    width: 90px; height: 2px;
    border-style: solid;
    border-color: $red;
    background-color: $red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colorstrip-white{
    width: 90px; height: 2px;
    border-style: solid;
    border-color: $white;
    background-color: $white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.heart {
    font-size: 24;
    transition-duration: 0.5s;
}

.heart:hover {
    color: $light-blue;
}