
#product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

#products-index-sidebar {
    max-width: 350px;
    height: full;
}

.product-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.body-container {
    display: flex;
}

.search-results-container {
    background-color: $serenade;
    padding: 32px;
    border-radius: 8px;
}

.product-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.product-text-container {
    text-align: left;
    margin-left: 10px;
}

#products-index-sidebar {
    text-align: left;
    margin-right: 40px;
}