<div class="search-flex">
  <div class="search-bar-container">
    <%= form_tag ingredients_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an ingredient"
    %>
  </div>
  <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
  </button>
  <div class="d-flex align-items-center">
    <%= link_to "Clear Search", ingredients_path, class: 'linkStyle', style: 'color:#8f8f8f', id: 'clearSearch' %>
    <%= link_to "Search by Products/Brand", products_path, class: 'linkStyle', style: 'color:#8f8f8f', id: 'clearSearch' %>
  </div>
  <% end %>
</div>
