<div class="banner">
</div>
  
  <div class="container">
    <h2>Summertime is always in <strong>BLOOM</strong> </h2>
    <p> Helping you make informed cosmetic purchasing decisions
    </p>
    <%= link_to "Give it a whirl", products_path, class:"btn-primary" %>
  </div>
