.avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}

.avatar-large {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-very-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

.ing-rev-avatar {
  position: absolute;
  top: 20px;
  left: 20px;
}

#avatar-navbar {
margin-bottom: 5px;
margin-top: 5px;
}

.avatar-placeholder {

  img {
      border-radius: 50%;
      flex-grow: 0;
      padding-right: 20px;
      width: 150px;
      height: 150px;
      object-fit: cover;
  }
}
