.btn-ghost {
  color: $red;
  border: 1px solid $red;
  padding: 8px 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
  color: $white;
  background-color: $red;
  transition: 0.8s;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #9c3c24;
  background: #9c3c24;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.btn-ghost-small {
  color: $red;
  border: 1px solid $red;
  padding: 4px 12px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-ghost-small:hover {
  opacity: 1;
  text-decoration: none;
  color: $white;
  background-color: $red;
  transition: 0.8s;
}