.btn-ghost {
  color: $red;
  border: 1px solid $red;
  padding: 8px 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
  color: $white;
  background-color: $red;
  transition: 0.8s;
}

.btn-redboi {
  background-color: $red;
  color: $white;
  border: 1px solid $white;
  padding: 8px 24px;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 20px;
  transition-duration: .7s;
}

.btn-redboi:hover {
  background-color: $dark-blue;
}


.searchButton {
  width: 40px;
  height: 37.1px;
  border: 1px solid #9c3c24;
  background: #9c3c24;
  text-align: center;
  color: #fff;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  font-size: 20px;
}

.btn-ghost-small {
  color: $red;
  border: 1px solid $red;
  padding: 4px 12px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.btn-ghost-small:hover {
  opacity: 1;
  text-decoration: none;
  color: $white;
  background-color: $red;
  transition: 0.8s;
}

#filter-btn {
  color: $red;
  border: 1px solid $red;
  padding: 4px 12px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

#filter-btn:hover {
  opacity: 1;
  text-decoration: none;
  color: $white;
  background-color: $red;
  transition: 0.8s;
}

