.navbar-bloom {
  display: flex;
  justify-content: space-between;
  background: $dark-blue;
  align-items: center;

  li, a, h1, h2, h3, h4, h5, p {
    color: black;
    font-size: 12px;
  };
}

.navbar-bloom .navbar-collapse {
  flex-grow: 0;
}

.navigation-logo {
  margin: 8px;

  img {
    width: 60px;
  }
}