<div class="product-text-container">
</div>

<div class="product-card-grid">
  <%= render products %>
</div>

<div>
  <% if params[:product_search].nil? %>
  <div class="prev-next">
    <%= link_to products_path(page: @page - 1) do %>
      <i class="fas fa-backward"></i> Previous
    <% end if @page > 0%>
    <%= link_to products_path(page: @page + 1) do %>
      Next <i class="fas fa-forward"></i>
    <% end if @page < (Product.count/12) %>
  </div>
  <% end %>
</div>
