<div class ="container mt-3">
  <div class="product-top-nav">
    <h2>Search for Products</h2>
    <%= render 'shared/productsearchbarform' %>
  </div>
  <div class="body-container">
    <div id="products-index-sidebar">
        <%= render partial: 'shared/filterform' %>
    </div>
    <div class="search-results-container mt-2">

      <%= render 'products', products: @products %>

    </div>
  </div>
</div>


